h1 {
    font-size: 90px;
    color: #571441f5;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

h2 {
    font-size: 50px;
    color: white;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    background-color: black;
}

body {
    margin: 0;
    background: white;
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: 550;
}

/* Navagation Bar */

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: black;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding: 10px 0;
    border-radius: 100%;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 35px;

    position: relative;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: none;
    font-size: 20px;
}

nav a:hover {
    color: red;
}

nav a::before {
    content: '';
    display: block;
    height: 2px;
    background-color: red;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}













